<!DOCTYPE html>
<html>
    <head>
        <title>잡동사니</title>
    </head>
    <body>
        <h1>LOL 전적 검색</h1>
<!--       <form action="http://www.op.gg/summoner/"> # 이 사이트로 넘어가게 된다.-->
       <form action="/search"> 
<!--/search를 아직 -->       
           아이디:<input type="text" name="userName">
           <input type="submit" value="롤 검색">
       </form>
    </body>
</html>